body {
   background-color: cornsilk;
}

p1 {
   font-style: italic;
   font-size: 20px;
   margin-left:auto
}


h1 {
   text-align: center
}

img {
   float: left;
   margin-right: 20px;
   border-radius: 30px;
   border: solid black 10px;
}